body {
    background-color: #792B03;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gtb {
    height: 170px;
    width: 18%;
    background-color: #DD4F05;
    margin: 30px auto;
    position: relative;
}

.inner {
    height: 40px;
    width: 20%;
    background-color: #fff;
    position: absolute;
    top: 30px;
    right: 45px;
    
    animation-name: right;
    animation-duration: 2s;
    animation-delay: ease-out;
}

p {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    font-family: sans-serif;
    position: absolute;
    top: 90px;
    left: 40px;
    
}

@keyframes right {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}